/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  padding: 24px;
  margin: 0;
}

body > *:first-child {
  margin-top: 0;
}

input,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
}

:root {
  --global-border-radius: 4px;
  --nav-font-size: 14px;
  --nav-margin-top: 24px;
}

p:empty {
  display: none;
}

p:empty:first-child + * {
  margin-top: 0;
}

/* Index */

body.index > div[id] {
  --index-item-width: 248px;
  --index-item-padding: 12px;
  --index-item-gap: 8px;
  --index-item-font-size: 13px;
  --index-item-line-height: 1.6;
  --index-item-p-vertical-padding: 0.8em;
  --index-item-border-width: 1px;
  display: grid;
  gap: var(--index-item-gap) calc(var(--index-item-gap) / 2);
  grid-template-columns: repeat(auto-fill, var(--index-item-width) 0);
  font-size: var(--index-item-font-size);
  line-height: var(--index-item-line-height);
  margin-bottom: var(--nav-margin-top);
}

body.index > div[id] > div {
  border: solid var(--index-item-border-width) rgb(175, 175, 175);
  padding:
    var(--index-item-padding)
    var(--index-item-padding)
    calc(var(--index-item-font-size) * var(--index-item-line-height) + (var(--index-item-p-vertical-padding) * 3));
  border-radius: var(--global-border-radius);
}

body.index > div[id] > div > p {
  margin: 0;
  padding-top: var(--index-item-p-vertical-padding);
  margin-bottom: var(--index-item-p-vertical-padding);
  border-top: solid 1px rgb(236, 236, 236);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

body.index > div[id] > div > p:first-child {
  padding-top: 0;
  border-top: none;
}

body.index > div[id] > div > p:last-child {
  margin-bottom: 0;
}

body.index > div[id] > div strong {
  font-size: .9em;
}

body.index > div[id] > div strong + img {
  max-height: 160px;
  display: block;
  margin: 4px auto 0;
  object-fit: contain;
}

body.index > div[id] > p {
  margin: var(--index-item-border-width) var(--index-item-border-width) 0;
  padding: var(--index-item-p-vertical-padding) var(--index-item-padding);
  position: relative;
  left: calc((var(--index-item-width) * -1) - (var(--index-item-gap) / 2));
  width: calc(var(--index-item-width) - (var(--index-item-border-width) * 2));
  height: calc(var(--index-item-font-size) * var(--index-item-line-height) + (var(--index-item-p-vertical-padding) * 2));
  white-space: nowrap;
  align-self: flex-end;
  text-align: right;
}

body.index > div[id] + a {
  font-size: var(--nav-font-size);
}

/* Show */

body.show > div[id] {
  --show-item-width: 640px;
  --show-item-padding: 24px;
  --show-item-font-size: 14px;
  --show-item-line-height: 1.6;
  --show-item-p-vertical-padding: 1em;
  --show-item-border-width: 1px;
  max-width: var(--show-item-width);
  display: block;
  border: solid var(--show-item-border-width) rgb(175, 175, 175);
  padding: var(--show-item-padding);
  border-radius: var(--global-border-radius);
  font-size: var(--show-item-font-size);
  line-height: var(--show-item-line-height);
}

body.show > div[id] p {
  margin: 0;
  padding: var(--show-item-p-vertical-padding) 0;
  border-top: solid 1px rgb(236, 236, 236);
}

body.show > div[id] p:first-child {
  padding-top: 0;
  border-top: none;
}

body.show > div[id] p:last-child {
  padding-bottom: 0;
}

body.show > div[id] p strong {
  font-size: .9em;
}

body.show > div[id] img {
  max-height: 400px;
  display: block;
  margin: 12px auto 0;
  object-fit: contain;
}

body.show > div[id] + div {
  font-size: var(--nav-font-size);
  margin-top: var(--nav-margin-top);
}

body.show > div[id] + div .button_to {
  margin-top: var(--nav-margin-top);
}

/* New and Edit */

form {
  --form-width: 640px;
  --form-padding: 24px;
  --form-line-height: 1.6;
  --form-div-margin: 1em;
  --main-button-font-size: 16px;
  --main-button-width: 160px;
  --main-button-height: 44px;
  --main-button-margin-top: 24px;
  max-width: var(--form-width);
}

form div:not(:first-child) {
  margin-top: var(--form-div-margin);
  line-height: var(--form-line-height);
}

form div:last-child {
  margin-top: var(--main-button-margin-top);
}

form + br + div {
  font-size: var(--nav-font-size);
}

form label {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 6px;
  line-height: inherit;
  border: solid 1px rgb(175, 175, 175);
  border-radius: var(--global-border-radius);
}

form textarea {
  height: 200px;
}

form input[type="submit"] {
  font-size: var(--main-button-font-size);
  min-width: var(--main-button-width);
  height: var(--main-button-height);
}

form + br {
  display: none;
}

form + br + div {
  margin-top: var(--nav-margin-top);
}
